@import '@styles/theme.module.scss';

.root {
}

.AccordionRoot {
    width: 300px;
    color: $white;
    background-color: $charcoal-black;
}

.AccordionItem {
    overflow: hidden;
    margin-top: 1px;
}

.AccordionItem:first-child {
    margin-top: 0;
}

.AccordionItem:focus-within {
    position: relative;
    z-index: 1;
}

.AccordionHeader {
    display: flex;
}

.AccordionTrigger {
    font-family: inherit;
    padding: 0 20px;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    line-height: 1;
}

.AccordionContent {
    overflow: hidden;
    font-size: 15px;
}
.AccordionContent[data-state='open'] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
    padding: 15px 20px;
}

.AccordionChevron {
    color: #7d66d9;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}

.Separator {
    height: 1px;
    width: 100%;
    margin: 10px 0;
    background-color: $snow-white;
    opacity: 15%;
}

.nextButton {
    background: $white;
    color: $black;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    margin-top: 20px;
}
