@import '@styles/theme.module.scss';

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 64px;
}

.content {
    min-height: min-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
