@import '@styles/theme.module.scss';

.root {
    display: grid;
    padding: 10px;
    padding-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.title {
    font: $medium-paragraph;
    justify-self: start;
}

.bookNow {
    justify-self: end;
}

@media (width <= $tablet-width) {
    .root {
        flex-direction: column;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        border: 1px solid $snow-white-40;
        margin: 5px;
    }

    .title {
        font: $medium-title;
        justify-self: center;
    }

    .bookNow {
        justify-self: center;
    }
}
