@import '@styles/theme.module.scss';

.root {
    padding-top: 20px;
}

.title {
    font: $large-paragraph;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.productCard {
    width: 100%;
    height: 100%;
}

@media (width < 430px) {
    .title {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
