@import '@styles/theme.module.scss';

.dropdownContainer {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.userImage {
    width: 30px;
    height: 30px;
    border-radius: 40%;
    cursor: pointer;
}

.username {
    font-weight: bold;
    margin-right: 5px;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $charcoal-black;
    border: 1px solid $snow-white-40;
    border-radius: 3px;
    padding: 10px;
    flex-direction: column;
    align-items: end;
    width: 120px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    &.open {
        display: flex;
        align-items: start;
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: $charcoal-black;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid $snow-white-40;
}


.itemTitle:hover {
    color: $orange-red;
    cursor: pointer;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 5px 0px;
    opacity: 40%;
}

.downArrow {
    width: 14px;
    height: 14px;
    margin-left: 9px;
}

.defaultArrow {
    display: inline-block;
    margin-left: 9px;
}

.hoverArrow {
    display: none;
}

.dropdownContainer:hover .defaultArrow {
    display: none;
}

.dropdownContainer:hover .userName {
    color: $orange-red;
}

.dropdownContainer:hover .hoverArrow {
    display: inline-block;
}
