@import '@styles/theme.module.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: grid;
    justify-content: center;
    width: 1000px;
}

.myStyle {
    font: $medium-paragraph;
    padding: 40px 100px;
    text-align: center;
    margin-bottom: 8px;
    text-wrap: pretty;
    letter-spacing: 10px;
    border-radius: 20px 20px 0 0;
}

.myParagraph {
    padding: 70px 120px;
    text-align: center;
    font: $medium-paragraph;
    text-wrap: pretty;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

@media (width <= $tablet-width) {
    .container {
        width: 100vw;
        margin-top: unset;
    }
    
    .myStyle, .myParagraph {
        padding: 50px 40px;
    }
}

@media (width <= $mobile-width) {
    .myStyle, .myParagraph {
        font-size: 20px;
    }
}
