@import '@styles/theme.module.scss';

.headerSection {
    padding-top: 1em;
    padding-bottom: 2em;
}

.typeOfClass {
    font: $large-title;
}

.secondTitle {
    font: $small-text-font-bold;
}

.calendarWithDetails {
    display: flex;
}

.schedulingContainer {
    justify-content: space-between;
    width: 100%;
    margin-right: 1em;
}

.lessonTitle {
    font: $small-text;
    align-self: end;
}

.seperator {
    height: 1px;
    width: 100%;
    margin: 1em 0;
    background-color: $snow-white;
    opacity: 15%;
}

.lessonDescription {
    font: $small-text;
}
.titleContainer {
    display: flex;
    justify-content: space-between;
}
