@import '@styles/theme.module.scss';

.container {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.available:after {
    content: '';
    position: absolute;
    top: 30px;
    width: 5px;
    height: 5px;
    background-color: $orange-red;
    border-radius: 50%;
    
}

.available {
    color: $orange-red;
}

.available:hover{
    background-color: rgba(255, 91, 43, 0.2) !important;
}

.selected:hover {
    background-color: rgba(255, 91, 43, 0.8) !important;
}

.dayPassed {
    color: grey;
    pointer-events: none;
}

.selected {
    background-color: $orange-red;
    color: black;
}

.selected.available:after {
    background-color: black; 

}

.selected:hover {
    background-color: red ;
    color: black;
}

