@import '@styles/theme.module.scss';

.root {
    padding: 30px;
}

.title {
    font: $large-paragraph;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

@media (width <= 768px) {
    .title {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
