@import '../../styles/theme.module.scss';

.root {
    padding: 40px;
    flex-grow: 1;
}

.booking-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid $snow-white-40;
}

.date {
    display: flex;
    margin-right: 24px;
}

.day {
    font-size: 3rem;
    margin: 8px;
}

.date-short {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: end;
    justify-content: center;
}

.date-month-short {
    color: $snow-white-10;
}

.full-date {
    color: $snow-white-10;
}

.title {
    font-size: 2rem;
}

.description {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
}

@media (width <=768px) {
    .root {
        padding: 16px;
    }

    .booking-root {
        padding: 6px;
    }
}