@import '@styles/theme.module.scss';

.root {
}

.lesson {
    border-bottom: 1px solid $snow-white-40;

    &:first-child {
        border-top: 1px solid $snow-white-40;
    }
}

.all-lessons-button-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

@media (width <= $tablet-width) {
    .lesson {
        border: 0;

        &:first-child {
            border-top: 0;
        }
    }
}
