@import '@styles/theme.module.scss';

.root {
    position: relative;
    border-radius: 20px;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../../assets/img/[1400_640]_heroImage.webp') no-repeat center;
    background-size: cover;
    height: 900px;
    width: 100%;
    border-radius: 16px;
}

.small-title {
    font: $medium-paragraph-bold;
    margin-top: 80px;
    font-size: 38px;
}

.big-title {
    font: $extra-large-bold-title;
    font-size: 11dvw;
    text-align: center;
}

.overlay-button {
    margin-top: 68px;
}

// --- MEDIA QUERIES ---

@media (width >= $large-desktop) {
    .small-title {
        font-size: 42px;
    }

    .overlay-button {
        height: 47px;
    }
}

@media (width <= 1024px) {
    .overlay {
        background: url('../../../assets/img/[1024_640]_heroImage.webp') no-repeat center;
        height: 600px;
    }
}

@media (width <= $tablet-width) {
    .overlay {
        background: url('../../../assets/img/[760_460]_heroImage.webp') no-repeat center;
        height: 500px;
    }
}

@media (width <= $mobile-width) {
    .overlay {
        background: url('../../../assets/img/[430_340]_heroImage.webp') no-repeat center;
        height: 300px;
    }

    .small-title {
        font-size: 20px;
        margin-top: 40px;
    }

    .big-title {
        font-size: 42px;
    }

    .overlay-button {
        margin-top: 40px;
    }
}
