@import '@styles/theme.module.scss';

.root {
    margin: 10px;
}

.boldMessage {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.title {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 10px;
}

.subTitle {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.submit-button {
    margin-top: 20px;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
}